body {
    background-color: #ffffff;
    margin: 0px;
}

a {
   text-decoration: none;
   font-size: 0.8em;
}

.cc-table {
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: auto;
	margin-right: auto;
}

.cc-interface {
	border: solid 1px black;
	background-color: #cccccc;
	color: #ffffff;
	text-align: center;
	font-family: Roboto, arial, sans-serif;
}

.cc-link {
	margin: 5px;
}