body {
    background-color: #ffffff;
    margin: 0px;
}

.container {
    background-color: #ffffff;
}

.CedCubeInterface {
	border: solid 1px black;
	background-color: #cccccc;
	color: #ffffff;
	text-align: center;
	font-family: Roboto, arial, sans-serif;
}

a {
	 text-decoration: none;
	 font-size: 0.8em;
}

._CedCubeInterface {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    background-color: #ff0000;
    top: 0;
#    left: 25%;
}
