body {
    background-color: #ffffff;
    margin: 0px;
}

a {
   text-decoration: none;
   color: blue;
}

a:hover {
    cursor:pointer;
}

td {
	padding: 10px;
}

.cc-table {
	margin: 15px auto;
}

.cc-interface {
	border: solid 1px black;
	background-color: #cccccc;
	color: #ffffff;
	text-align: center;
	font-family: Roboto, arial, sans-serif;
}

.cc-link {
	margin: 5px;
}

.cc-formula-text {
	font-size: 60px;
}

.cc-link {
   text-decoration: none;
   font-size: 1.4em;
   color: blue;
}
